{% extends 'home/new.html' %}
{% block title %}{{ home }}{% endblock %}
{% block home_active %}active{% endblock %}

{% block body %}
<div class="slider-wrapper">

    <div id="da-slider" class="da-slider">
        <h2 class = 'wordsafe'>Be safe</h2>
        <p>We are here to help you find a safer route in Hyde Park.</p>

    </div>

</div>

<div class="wrapper">
    <div class="container">
        <div class="hero-unit">
            <p>
                This is a web mapping service built upon Google Map API designed for users in Hyde Park, Chicago. Since Hype Park has a historical high crime rate, we designed a mapping system that show users safe travel routes that avoid high crime area giving the time and location of traveling.
            </p>
        </div>
        <div class="row">



        </div>
    </div>
</div>
{% endblock %}
}
