@charset "utf-8";

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue-webfont.woff') format('woff'),
    url('fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Boogaloo" !important;
    font-weight: normal !important;
    color: #666;
    margin: 0;
    padding: 0;
}


header {
    background: #fff;
    border-bottom: 5px solid #f6f6f6;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 19.5%;
    height: 25%;
    margin-right: 20px;
    margin-top: 10px;
}

.navbar,
.navbar-inner,
.nav {
    float: right;
    background: #fff !important;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0;
}

.navbar-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar .nav > li > a {
    color: #730808;
    border-top:4px solid #fff;
    text-shadow: none;
    font-size: 16px;
    padding: 20px;

}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    border-top:4px solid #730808;
    background: #730808 !important;
    color: #fff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #730808;
    text-decoration: none;
    border-top:4px solid #730808;
    background-color: #fff !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.da-slider{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: transparent url(../img/uc.PNG) repeat 0% 0%;
    border-bottom: 5px solid #f6f6f6 !important;
    -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
    box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
    -webkit-transition: background-position 1.4s ease-in-out 0.3s;
    -moz-transition: background-position 1.4s ease-in-out 0.3s;
    -o-transition: background-position 1.4s ease-in-out 0.3s;
    -ms-transition: background-position 1.4s ease-in-out 0.3s;
    transition: background-position 1.4s ease-in-out 0.3s;
}

.da-slider h2 {
     position: absolute;
     top: 100px;
     left: 300px;
     width: 100%;
     color: whitesmoke;
     font-family: 'Economica', Arial, sans-serif;
     font-weight: 600;
     font-size: 55px;
     font-style: 'Economica';
 }

.da-slider p {
    position: absolute;
    top: 200px;
    left: 350px;
    width: 250px;
    color: whitesmoke;
    font-family: 'Economica', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-style: 'Economica';
}

.wrapper {
    background: #fff;

}
.hero-unit {
    background: #fff url(../img/bg-k10.png);
    border-left: 4px solid #800000;
    padding: 13px 13px 13px 15px;
    margin: 20px auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 14px !important;
}

.icons-box h3 {
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 3px double #f6f6f6;
    margin-bottom: 10px;
    text-align: center;
}

.icons-box p {
    float: center;
}
.form_only{
    margin: 10px;
    text-align: center;
}
.form_only p {
    font-size: 30px;
}