{% load static %}
<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>showcrime</title>
  <head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to CHB project!</h1>
    <div id="googlemaps" style="width: 500px; height: 400px;"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('googlemaps'), {
          zoom: 13,
          center: new google.maps.LatLng(41.787163518,-87.593164294),
          mapTypeId: 'roadmap'
        });

        // Create a <script> tag and set the USGS URL as the source.
        var script = document.createElement('script');
        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        script.src = "{% static "visual_crime/route1.js" %}";
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      // Loop through the results array and place a marker for each
      // set of coordinates.
      window.eqfeed_callback = function(results) {
        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.location;
          var latLng = new google.maps.LatLng(coords[0],coords[1]);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChS_xnOZ7MVdUYBgkL3b79x_WHCmggUgI&callback=initMap">>
    </script>
  </body>
</html>
