<!DOCTYPE html>
<html>
  <head>
    <title>Place Autocomplete Address Form</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link href="file:///C|/Users/hengj/Desktop/chb-web-design/form.css" rel="stylesheet" type="text/css">
  </head>

  <body>
  <form action="/map/" method="get">
		  <fieldset>
			  <legend id='kuang'><h3>Find safe route</h3></legend>
			  <label for="text">Enter places: </label><br><br>
					<label for="orgin">Origin place: </label>
    <input id="origin" type="text" name="origin" placeholder="e.g. Eckhart Hall"></input><br><br>
					<label for="destination">Destination : </label>
    <input id="destination" type="text" name="destination" placeholder="e.g. Regents Park"></input><br><br>
	  		  <label for="mode">Choose mode: </label><br><br>
					<input type="radio" name="mode" value="Walk" checked> Walk<br>
					<input type="radio" name="mode" value="Transit"> Transit<br>
					<input type="radio" name="mode" value="Bike"> Bike<br><br>
	  		  <label for="date">Choose departure date:</label><br><br>
	  				<select action="/example/html5/demo_form.asp" method="get">
    				 <input type="date" name="user_date" />
					</select><br><br>
	  		  <label for="time">Choose departure time:</label><br><br><br>
	  				<select action="/example/html5/demo_form.asp" method="get">
    				 <input type="time" name="user_time"/>
					</select><br><br>
	  		<input type="submit" value="Submit">
	      </fieldset>

	  </form>

    <script>
      var autocomplete1,autocomplete2;
	  var defaultBounds = new google.maps.LatLngBounds(
  			new google.maps.LatLng(41.78013 -87.615546),
  			new google.maps.LatLng(41.809241, -87.575706));

      var options = {bounds: defaultBounds, placeIdOnly: true};
      function initAutocomplete() {
        autocomplete1 = new google.maps.places.Autocomplete((document.getElementById('autocomplete1')),
            options).setComponentRestrictions(
            {'country': ['us']});
		autocomplete2 = new google.maps.places.Autocomplete((document.getElementById('autocomplete2'))
            ,options).setComponentRestrictions(
            {'country': ['us']});;
        autocomplete1.addListener('place_changed', function() {
          var place1 = autocomplete1.getPlace();
          if (!place1.place_id) {
            window.alert("Please select an option from the dropdown list.");
            return;
		  }});
		autocomplete2.addListener('place_changed', function() {
          var place2 = autocomplete2.getPlace();
          if (!place2.place_id) {
            window.alert("Please select an option from the dropdown list.");
            return}});
		autocomplete1.setBounds(defaultBounds);
		autocomplete2.setBounds(defaultBounds);
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChS_xnOZ7MVdUYBgkL3b79x_WHCmggUgI&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>