{% extends 'home/new.html' %}
{%  load staticfiles %}
{% block title %}{{ visual_data }}{% endblock %}
{% block view_active %}active{% endblock %}
{% block body %}
    <div id="googlemaps-container-top"></div>
		<div id="googlemaps" class="google-map google-map-full"></div>
		<div id="googlemaps-container-bottom"></div>
    <script>
        // Reference:
        // https:developers.google.com/maps/documentation/javascript/earthquakes?hl=zh-cn
      var map, heatmap;
      function initMap() {
        map = new google.maps.Map(document.getElementById('googlemaps'), {
          zoom: 13.35,
          center: new google.maps.LatLng(41.792163518,-87.593164294),
          mapTypeId: 'roadmap'
        });
        // Create a <script> tag and set the USGS URL as the source.
        var script = document.createElement('script');
        script.src = "{% static "visual_crime/route1.js" %}";
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      function eqfeed_callback(results) {
          var heatmapData = [];
          for (var i = 0; i < results.features.length; i++) {
              var coords = results.features[i].geometry.location;
              var latLng = new google.maps.LatLng(coords[0], coords[1]);
              heatmapData.push(latLng);
          }
          var heatmap = new google.maps.visualization.HeatmapLayer({
              data: heatmapData,
              map: map,
              radius: 16
          });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChS_xnOZ7MVdUYBgkL3b79x_WHCmggUgI
    &libraries=visualization&callback=initMap">
    </script>
  	<div class="container" >

			<p>hello</p>
	</div>
{% endblock %}