@charset "utf-8";
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
header {
	background: #fffff;
	border-bottom: 5px solid #f6f6f6;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}
.logo img {
	margin-top:10px;
}

.span13 {
 width: 100%;
}

.span3 {
    width: 220px;
    height: 50px;
}

.span2 {
  width: 140px;
}

#googlemaps-container-top {
	position: relative;
	z-index: 2;
	-webkit-box-shadow: inset 0px 3px 3px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px 3px 3px rgba(0,0,0,.25);
	box-shadow: inset 0px 3px 3px rgba(0,0,0,.25);
	height: 20px;
}

#googlemaps-container-bottom {
	position: relative;
	z-index: 2;
	-webkit-box-shadow: inset 0px -3px 3px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px -3px 3px rgba(0,0,0,.25);
	box-shadow: inset 0px -3px 3px rgba(0,0,0,.25);
	height: 20px;
	margin-top: -40px;
	border-bottom: 5px solid #f6f6f6;
	margin-bottom: 20px;
}

#googlemaps{
	position: relative;
	z-index: 1;
	height: 400px;
	width: 100%;
	top: -20px;
}

#small-map-container {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	position: relative;
	z-index: 2;
	border: 5px solid #f6f6f6;
	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	height: 210px;
	width: 210px;
	margin-bottom: -215px;

}

#footer-menu {
	height: 50px;
	background: #fcfcfc url(../img/bg-k20.png) repeat;
	border-top: 4px solid #f6f6f6;
	border-bottom: 4px solid #f6f6f6;
	margin-top: 20px;
}

#footer-menu-logo img {
	margin-top: 10px;
}

#footer-menu-links {
	display: block;
	float: left;
	max-height: 52px;
	margin: 6px 0 6px 0;

}

#footer-menu-links ul,
#footer-menu-links li {
	list-style: disc;
	color:#999999;
	padding:0;
	margin:0;
}

#footer-menu-links li:first-child {
	list-style: none;
}


#footer-menu-links ul li{
	float:left;
	position:relative;
	z-index: 100;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer-menu-links ul li a {
	display: inline-block;
	color: #999999;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Droid Sans';
	text-transform: lowercase;
	padding: 10px 15px 10px 0px;
	margin: 0px 10px 0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}

#footer-menu-links ul li:first-child a {

}

#footer-menu-links ul li a:hover {
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer-menu-back-to-top {
	margin: 10px;
	z-index: 999;
}

#footer-menu-back-to-top a:hover {background-color: #aaa;}

#footer {
	background: url(..visual_crime/img/bg-k10.png) repeat;
	border-bottom: 4px solid #f6f6f6;
	color: #666 !important;
	padding: 40px 0px;
	z-index: 1;
	position: relative;
	opacity: 1;
}

#footer,
#footer p,
#footer a{
	color: #666 !important;
}

#footer a:hover {
	color: #fff;
}

.no-margin {margin-top: 0;}

#footer h3 {
	padding: 2px 0px !important;
	margin-bottom: 10px;
	color: #666;
	border-bottom: 5px double #f6f6f6;
}
